.content{
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 32px;
}

.template{
    background-color: var(--template-color);
    height: 640px;
    width: 400px;
    border-radius: 16px;
    flex: 1;
}